/* Importera web-fonten Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

/* Globala inställningar */

html {
    font-size: 16px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;

}

/* Jumbotron styling */

.jumbotron {
    background-color: #DEDEDE;
    padding: 1.5rem;
    border-radius: 0.3rem;
    margin: 0 0 1rem 0;
    text-align: center;

}

/* Centrera text */

.text-center {
    text-align: center;
}

/* Fomrulärstil */

form {
    width: 90%;
    max-width: 400px;
    background: white;
    padding: 1rem;
    border-radius: 0.3rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.col {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

}

label {
    font-weight: bold;
    margin-bottom: 0.5rem;

}

input[type="text"], input[type="color"] {
    padding: 0.5rem;
    border: 1px solid #ccc; 
    border-radius: 0.3rem;

}

input:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 255, 0.5);

}

/* Knappstil */

#newGame {
    display: block;
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 0.75rem;
    text-decoration: none;
    border-radius: 0.3rem;

}

#newGame:hover {
    background-color: #0056b3;

}

/* Spelplanens styling */
table {
    border-spacing: 0;
    margin-top: 1rem;

}

td {
    width: 125px; 
    height: 125px;
    font-size: 50px;
    text-align: center;
    border: 1px solid darkgray; 

}

/* Dölj aside-elementet */
aside {
    display:none; 

}

.d-none {
    display: none;

}

/* Responsive Design */ 

@media (max-width: 414px) {
    body {
        width: 100%;
        padding: 0 1rem;
    }

    .jumbotron {
        width: 100%; 
    }

    form {
        width: 100%; 
    }

    td {
        width: 100px; 
        height: 100px; 
        font-size: 40px;
    }
}




